<mat-card>
  <mat-toolbar>Contact Us</mat-toolbar>
  <form class="main-form">
<br><br>

    <mat-form-field class="name">

      <input type ="text" matInput placeholder="Enter Your Full Name">

    </mat-form-field>
<br>
<br>
    <mat-form-field class="email">

      <input type ="text" matInput placeholder="Enter Your Email">

    </mat-form-field>

<br>
<br>

<mat-form-field class="message">


  <input type="textarea" matInput placeholder="Enter Your Message">

</mat-form-field>
<br>
<br>

  <button mat-raised-button color="accent">SUBMIT</button>



  </form>
</mat-card>
