<nav class="navbar navbar-expand-lg navbar-light bg-primary" >

  <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="‪../../../../assets/cs.jpg"alt="" width="30" height="24" class="d-inline-block align-top" class="img-fluid">
      </div>
  </a>

    <a class="navbar-brand" href="#">MenuBar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='gal'>gallery</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='contact'>Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='template'>Sign UP</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='reactive'>Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='about'>About Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-white my-2 my-sm-0 bg-white" type="submit">Search</button>
      </form>
    </div>
  </nav>









<router-outlet></router-outlet>


<div class="container-fluid">

  <div class="row">

    <div class="col-md-12 bg-dark">
      <h3 class="text-white">All rights are reserved @2021</h3>
    </div>

  </div>

</div>
<br><br>


