<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light">
      <P><b>This is First Div</b></P>
    </div>
    <div class="col-md-8 bg-info">
      <P><b>This is second Div</b></P>
    </div>
    <div class="col-md-2 bg-light text-black">
      <P><b>This is Third Div</b></P>
    </div>
  </div>
</div>
<!---
<mat-card>

  <mat-toolbar>Login</mat-toolbar>
  Username:{{name}}
  <br><br>

  Email:{{email}}

  <br>
  <br>

  sum of {{a}} and {{b}} is {{c}}


</mat-card>
-->
